/* src/styles/Home.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.home-page {
  font-family: "Montserrat", sans-serif;
  background-color: #ffefc1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-main-content {
  flex: 1;
  width: 100%;
}

/* Recuadro superior en el body */
.hero-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.hero-content {
  position: absolute;
  top: 40%;
  margin-left: 2%;
  transform: translateY(-50%);
  max-width: 600px;
  padding: 0 10px;
}

.hero-description {
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.9;
  color: white;
  text-shadow: 1px 1px 2px black;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Contenedor común para el título y las tarjetas */
.section-content {
  width: 95%; /* Ocupa el 90% del ancho de la página */
  margin: 0 auto; /* Centra el contenedor */
  
}

/* Título de sección */
.section-title {
  font-size: 1.5em;
  color: #f77e58;
  margin-left: 2%;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Grid de audiolibros */
.audiobooks-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Siempre 4 columnas */
  gap: 0px;
  padding: 0 20px 0 20px;
  
}

/* Tarjeta individual de audiolibro */
.audiobook-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #ffefc1;
  padding: 10px;
  width: 100%;
  max-width: 240px; /* Ancho máximo para todas las tarjetas */
  margin: 0 auto;
  text-decoration: none;
}

.audiobook-card img {
  width: 100%;
  height: 100%; /* Altura fija para todas las imágenes */
  object-fit: cover; /* La imagen se ajusta al contenedor sin distorsión */
  border-radius: 10px;
}

/* Título del audiolibro */
.audiobook-title {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  color: #000;
  text-decoration: none;
/*  background-color: #F8C97C;*/

  width: 100%;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  transition: all 0.3s;
  margin-top: 10px;
  margin-bottom: 0%;
}

.audiobook-title:hover {
  white-space: normal; /* Permite que el texto se expanda en varias líneas */
  overflow: visible;
  height: auto; /* Ajusta la altura automáticamente */
/* background-color: #F66B40;*/
  color: #F66B40;
}

/* Año del audiolibro */
.audiobook-year {
  display: block;
  font-size: 1.2em;
  color: #000;
 /* background-color: #F8C97C; /* Mismo fondo que el título */
  padding: 0px;
  border-radius: 5px;
  width: 100%;

}


.image-container {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  align-items: start;
  justify-content: start;
  background-color:#F88C65;
}

.capa1 {
  top: 0;
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-container:hover .capa1 {
  -webkit-transition: all 0.5s;
  transition: all 0.9s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.capa2 {
  font-size: 20px;
}

/*estilo de loading*/ 
.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}


.contenedor-atributos-hover{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  justify-content: space-between;
  padding-top: 10%;
}



.contenedor-icono-atributo{
  display: flex;
  margin-bottom: 20%;
  padding-left: 18%;
}

.contenedor-año{
  width: 100%;
  background-color: #F9B7A0;
  height: 10%;
  align-self: flex-end; /* Empuja solo este elemento al final */
  border-radius: 0 0 10px 10px;
}

.atributo-año-hover{
  text-align: center;
  align-items: center;
}

.iconos-hover{
  max-width: 25px;
  max-height: 25px;
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .audiobooks-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .hero-description {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .audiobooks-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-description {
    font-size: 1.3em;
    max-width: 90%;
  }
  .section-title {
    font-size: 1.3em;
    margin-left: 5%;
  }
  .audiobook-card img {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .audiobooks-grid {
    grid-template-columns: 1fr;
  }
  .section-title {
    font-size: 1em;
    margin-left: 5%;
  }
  .hero-description {
    font-size: 1em;
  }
  .audiobook-card img {
    height: 300px;
  }
}
